extends layout.pug
block content
	section#content 
		h2= text
		if hint
			p
				i Hint: #{hint}

		a(href=`?side=${sideToShow}`)= sideToShow
		br
		h3 
			a(href="http://localhost:3000/cards") Volgende kaart

		



