doctype html
html(lang="en")
	head
		title Hockey Spel
		link(rel='stylesheet', href='/static/stylesheets/style.css')
	body
		
		include includes/header.pug

		if name

			h2 Welkom #{name},  je kunt je hier voorbereiden op de wedstrijd!
			form(action='/goodbye',method='post')
				button(type='submit') Tot ziens!


		block content 
		include includes/footer.pug