doctype html
html(lang="en")
	head
		title Hockey Spel
	body
		form(action='/terug',method='post')
				button(type='submit') Terug naar de startpagina
		include includes/header.pug
		block content 
		include includes/footer.pug